.title{
    margin-top: 80px;
}
.titulo{
    margin-top: 80px;
}
.input-group{
    align-items: baseline;
}

.action-icon{
    margin-left: 7px;
    margin-right: 7px;
}
.red{
    color: #ff0000;
}
.col-action{
    width: 80px;
}