/*CUSTOMERS*/

#customers {
	background-color: #f3f3f3;
	color: #333333;
	padding: 7% 15%;
	text-align: center;
}

#customers img {
	border-radius: 50%;
	width: 10%;
	margin: 20px;
}
.carousel-control-prev-icon {
	margin-left: -70px;
}
.carousel-control-next-icon {
	margin-right: -70px;
}
